[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
streamlit = "*"
scikit-learn = "==1.2.2"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.11"
